<header class="secondary">
				<div class="background-image-holder parallax-background overlay" data-stellar-background-ratio="0.9">
				<ul class="bxslider" >
					  <li><%= image_tag('banner-web1.jpg', class: 'background-image', alt:'Background') %></li>
					  <li><%= image_tag('banner-web.jpg', class: 'background-image', alt:'Background') %></li>
				</ul>
					<!-- <%= image_tag('bg-5.jpg', class: 'background-image', alt:'Background') %> 
					<img class="background-image" alt="Background Image" src="images/1600x900.png">-->
				</div>

				<div class="container align-vertical hero">
					<div class="row">
						<div class="col-md-5 text-left">
						<!--%= image_tag('bg-7.jpg', class: 'background-image', alt:'Background') %>-->

							<h1>Cursos en catalogo</h1>
							<p> Excel Aplicado a las Finanzas, Elaboraci칩n y Manejo de N칩mina, An치lisis Financiero, Liderazgo, Comunicaci칩n Efectiva y Trabajo en Equipo, Control Presupuestario</p>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</header>



		<section class="product-list">
				<div class="container">

				<% @cursos.each do |curso| %>
					<div class="row">
						<div class="col-md-12">
							<div class="product">
								<div class="row">
									<div class="col-md-6 col-xs-12">
										<div class="thumbnail">
										<%= image_tag curso.image %>
											
										</div>
									</div>
									<div class="col-md-5 col-md-offset-1">
										<div class="product-details">
											<h2 class="product-title"><%= curso.titulo %></h2>
											<p class="product-price"><%= number_to_currency curso.precio %></p>
											<p>

											<%= curso.descripccion %>
												

											</p>

									<%= button_to curso_items_path(curso_id: curso), class: 'btn btn-default' do %>
  											<i class="fa fa-shopping-cart"></i> Incribirse
											<% end %>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div><!-- /.row -->
					<% end %>
				</div>
		</section>
